@import url(https://fonts.googleapis.com/css?family=Lato&subset=latin-ext);
body{
    margin-top: 50px !important;
    margin-left: 8px !important;
    margin-right:8px !important;

    background-color:#353c44 !important;
}
@media screen and (min-width:800px){
.panel{
    width: 40% !important;
}
}
@media screen and (max-width:800px){
    .panel{
        width: 80% !important;
    }
    }
h1{
    color: rgb(223, 222, 222) !important;
    opacity: 0.5 !important;
    font-size: 4em !important;
    font-family: 'Lato', sans-serif !important;
}
.row-centered {text-align:center;}
.col-centered { display:inline-block; float:none; margin-right: -10px !important;}
.p{
    color:  white !important;
}
.m-5{
    margin: 3em !important;
}
